.meal-planning-samples {
    position: relative;
    /* width: 650px; */
    width: 100%;
    padding: 3.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .meal-planning-samples article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .meal-planning-samples h2 {
    color: black;
    font-size: desktopHeading;
    /* font-family: raleway; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-transform: capitalize;
  }
  
  .meal-planning-samples table {
    font-size: 16px;
    text-align: center;
    border: 1px solid black;
    /* font-family: 'poppins'; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .meal-planning-samples table thead,
  .meal-planning-samples table tbody {
    border-radius: 1rem;
    width: 100%;
    border: 1px solid black;
  }
  
  .meal-planning-samples table tr {
    width: 100%;
  }
  
  .meal-planning-samples table td:nth-child(1) {
    width: 200px;
  }
  
  .meal-planning-samples table td:nth-child(2) {
    width: 400px;
  }
  
  .meal-planning-samples table td {
    padding: .75rem 1rem;
  }
  
  .meal-planning-samples table .heading-row {
    color: White;
    background-color: orange;
    font-weight: 500;
  }
  
  .meal-planning-samples table .total {
    background-color: rgb(215, 215, 215);
    font-weight: 600;
  }
  
  .meal-planning-samples table .plan-row {
    background-color: rgb(238, 238, 238);
  }